* {
  background-color: rgb(10, 102, 115);
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
   
}

img {
  height: 25%;
  width: 25%;
}


textarea.form-control {
  color: #63AEEB
  }